// Team Colors
/* Team Colors */
/* Source: https://teamcolorcodes.com/nfl-team-color-codes/ */
/* AFC NORTH */
#bal {
  background-color: #241773;
}
#cin {
  background-color: #fb4f14;
}
#cle {
  background-color: #311d00;
}
#pit {
  background-color: #ffb612;
}
/* AFC EAST */
#buf {
  background-color: #00338d;
}
#mia {
  background-color: #008e97;
}
#ne {
  background-color: #002244;
}
#nyj {
  background-color: #003f2d;
}
/* AFC SOUTH */
#hou {
  background-color: #03202f;
}
#ind {
  background-color: #002c5f;
}
#jax {
  background-color: #101820;
}
#ten {
  background-color: #0c2340;
}
/* AFC WEST */
#den {
  background-color: #fb4f14;
}
#kc {
  background-color: #e31837;
}
#lac {
  background-color: #002a5e;
}
#oak {
  background-color: #000000;
}
/* NFC */
/* NFC NORTH */
#chi {
  background-color: #0b162a;
}
#det {
  background-color: #0076b6;
}
#gb {
  background-color: #203731;
}
#min {
  background-color: #4f2683;
}
/* NFC EAST */
#dal {
  background-color: #003594;
}
#nyg {
  background-color: #a5acaf;
}
#phi {
  background-color: #004c54;
}
#was {
  background-color: #773141;
}
/* NFC SOUTH */
#atl {
  background-color: #a71930;
}
#car {
  background-color: #0085ca;
}
#no {
  background-color: #d3bc8d;
}
#tb {
  background-color: #d50a0a;
}
/* NFC WEST */
#az {
  background-color: #97233f;
}
#lar {
  background-color: #002244;
}
#sf {
  background-color: #aa0000;
}
#sea {
  background-color: #69be28;
}
