/* Utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #67df71;
  background-color: #ccc;
  color: #000;
  line-height: 1.2;
  font-size: 10px;
}
a:link,
a:visited {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  cursor: pointer;
}

/* Navigation */
.navbar {
  background-color: #fff;
  border-bottom: 5px solid #67df71;
  font-family: 'Bungee', sans-serif;
}
.navbar ul {
  min-width: 320px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
}
.navbar li {
  flex: 1;
  text-align: center;
  line-height: 10vh;
}
.navbar img {
  display: block;
  max-width: 100%;
  max-height: 10vh;
  margin: 0 auto;
}
.navbar a {
  display: block;
  font-size: 2.4rem;
}
.navbar a.afc-link {
  color: #d50a0a;
}
.navbar a.nfc-link {
  color: #013369;
}
.navbar .afc-link,
.navbar .nfc-link {
  border: 1px solid transparent;
}
.navbar a.afc-link:hover {
  background-color: #d50a0a;
  color: #fff;
}
.navbar a.home-link:hover {
  background-color: #ccc;
  color: #fff;
}
.navbar a.nfc-link:hover {
  background-color: #013369;
  color: #fff;
}

/* Home */
#home {
  height: 80vh;
}
.home-container {
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-title {
  font-size: 3.8rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Bungee', sans-serif;
  margin-bottom: 3rem;
}
.home-content {
  font-size: 1.6rem;
}
.home-content p {
  margin-bottom: 1rem;
}
.home-content p:last-of-type {
  text-align: center;
  margin-bottom: 0;
}

/* Buttons */
.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
}
.btn-container img {
  width: 30vw;
  height: 100%;
}

a.btn {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 2rem;
  width: 40%;
  max-width: 200px;
  border-radius: 5px;
  color: #fff;
}
.btn-afc {
  background-color: #d50a0a;
  color: #fff;
  border: 3px solid transparent;
}
.btn-afc:hover {
  background-color: #fff;
  color: #d50a0a;
  border: 3px solid #d50a0a;
}
.btn-nfc {
  background-color: #013369;
  color: #fff;
  border: 3px solid transparent;
}
.btn-nfc:hover {
  background-color: #fff;
  color: #013369;
  border: 3px solid #013369;
}

/* Conference Page Styles */
.conference-page {
  width: 80vw;
  max-width: 1100px;
  margin: 0 auto;

}

.division-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.division-title {
  font-size: 3rem;
  font-family: 'Bungee', sans-serif;
  text-align: center;
  margin-bottom: 1rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.team-container {
  display: flex;
  border: 4px solid #fff;
}

.team {
  flex: 1 1 25vw;
  /* height: 17vh; */
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.team img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

/* Footer */
.footer {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10vh;
  font-size: 1.4rem;
  font-style: italic;
  border-top: 5px solid #67df71;
}

/* Media Queries */
/* Tall Smart Phones */
@media only screen and (min-height: 810px) and (max-width: 450px) {
  .conference-page {
    height: 80vh;
    display: flex;
    align-items: center;
  }
}
/* Tablets & Larger */
@media only screen and (min-width: 700px) {
  html, body {
    font-size: 16px;
  }
  .navbar {
    border-bottom: 8px solid #67df71;
  }
  .navbar a {
    font-size: 3rem;
  }
  .home-content {
    font-size: 1.8rem;
  }
  .btn-container img {
    max-width: 300px;
  }
  .division-title {
    font-size: 4rem;
  }
  .team-container {
    border: 8px solid #fff;
  }
  .footer {
    border-top: 8px solid #67df71;
  }
}

/* Team Colors */
/* Source: https://teamcolorcodes.com/nfl-team-color-codes/ */
/* AFC NORTH */
#bal {
  background-color: #241773;
}
#cin {
  background-color: #fb4f14;
}
#cle {
  background-color: #311d00;
}
#pit {
  background-color: #ffb612;
}
/* AFC EAST */
#buf {
  background-color: #00338d;
}
#mia {
  background-color: #008e97;
}
#ne {
  background-color: #002244;
}
#nyj {
  background-color: #003f2d;
}
/* AFC SOUTH */
#hou {
  background-color: #03202f;
}
#ind {
  background-color: #002c5f;
}
#jax {
  background-color: #101820;
}
#ten {
  background-color: #0c2340;
}
/* AFC WEST */
#den {
  background-color: #fb4f14;
}
#kc {
  background-color: #e31837;
}
#lac {
  background-color: #002a5e;
}
#oak {
  background-color: #000000;
}
/* NFC */
/* NFC NORTH */
#chi {
  background-color: #0B162A;
}
#det {
  background-color: #0076B6;
}
#gb {
  background-color: #203731;
}
#min {
  background-color: #4F2683;
}
/* NFC EAST */
#dal {
  background-color: #003594;
}
#nyg {
  background-color: #A5ACAF;
}
#phi {
  background-color: #004C54;
}
#was {
  background-color: #773141;
}
/* NFC SOUTH */
#atl {
  background-color: #A71930;
}
#car {
  background-color: #0085CA;
}
#no {
  background-color: #D3BC8D;
}
#tb {
  background-color: #D50A0A;
}
/* NFC WEST */
#az {
  background-color: #97233F;
}
#lar {
  background-color: #002244;
}
#sf {
  background-color: #AA0000;
}
#sea {
  background-color: #69BE28;
}
