/* Team Colors */
/* Source: https://teamcolorcodes.com/nfl-team-color-codes/ */
/* AFC NORTH */
#bal {
  background-color: #241773; }

#cin {
  background-color: #fb4f14; }

#cle {
  background-color: #311d00; }

#pit {
  background-color: #ffb612; }

/* AFC EAST */
#buf {
  background-color: #00338d; }

#mia {
  background-color: #008e97; }

#ne {
  background-color: #002244; }

#nyj {
  background-color: #003f2d; }

/* AFC SOUTH */
#hou {
  background-color: #03202f; }

#ind {
  background-color: #002c5f; }

#jax {
  background-color: #101820; }

#ten {
  background-color: #0c2340; }

/* AFC WEST */
#den {
  background-color: #fb4f14; }

#kc {
  background-color: #e31837; }

#lac {
  background-color: #002a5e; }

#oak {
  background-color: #000000; }

/* NFC */
/* NFC NORTH */
#chi {
  background-color: #0b162a; }

#det {
  background-color: #0076b6; }

#gb {
  background-color: #203731; }

#min {
  background-color: #4f2683; }

/* NFC EAST */
#dal {
  background-color: #003594; }

#nyg {
  background-color: #a5acaf; }

#phi {
  background-color: #004c54; }

#was {
  background-color: #773141; }

/* NFC SOUTH */
#atl {
  background-color: #a71930; }

#car {
  background-color: #0085ca; }

#no {
  background-color: #d3bc8d; }

#tb {
  background-color: #d50a0a; }

/* NFC WEST */
#az {
  background-color: #97233f; }

#lar {
  background-color: #002244; }

#sf {
  background-color: #aa0000; }

#sea {
  background-color: #69be28; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  min-width: 320px; }

h1,
h2,
h3 {
  font-family: "Bungee", sans-serif; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #fff; }

img {
  width: 100%;
  display: block; }

#navbar {
  background-color: #fff;
  border-bottom: 7px solid #67df71;
  font-family: "Bungee", sans-serif;
  font-size: 2rem; }
  #navbar ul {
    display: flex;
    justify-content: center;
    align-items: center; }
    #navbar ul li {
      flex: 1;
      text-align: center; }
      #navbar ul li a {
        display: block;
        width: 100%;
        line-height: 60px;
        font-weight: bold;
        padding: 0.25rem;
        transition: text-shadow 0.25s; }
        #navbar ul li a:hover {
          text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3); }
        #navbar ul li a#afc-link {
          color: #ff0000; }
          #navbar ul li a#afc-link:hover {
            background-color: #ff0000;
            color: #fff; }
        #navbar ul li a#home-link {
          color: #fff; }
          #navbar ul li a#home-link:hover {
            background-color: #ccc; }
          #navbar ul li a#home-link img {
            width: 60px;
            margin: auto; }
        #navbar ul li a#nfc-link {
          color: #003399; }
          #navbar ul li a#nfc-link:hover {
            background-color: #003399;
            color: #fff; }

#home-page {
  background-color: #ccc;
  text-align: center; }
  #home-page .page-container {
    padding: 3rem 3rem;
    min-height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    #home-page .page-container h1 {
      font-size: 3rem;
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3); }
    #home-page .page-container .home-content {
      color: #000;
      font-size: 1.5rem; }
      #home-page .page-container .home-content p {
        padding: 1rem 0; }
        #home-page .page-container .home-content p em {
          font-size: 1.2rem; }
    #home-page .page-container .home-logos {
      width: 100%;
      max-width: 900px;
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      #home-page .page-container .home-logos a {
        display: block; }
        #home-page .page-container .home-logos a img {
          max-width: 150px;
          padding: 0 0.25rem; }

#conference-page {
  background-color: #ccc; }
  #conference-page .page-container {
    max-width: 1100px;
    padding: 1.5rem 3rem;
    margin: 0 auto; }
  #conference-page h2 {
    text-align: center;
    font-size: 2.3rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    animation: slide-in-left 1.5s ease-in-out; }
  #conference-page .division-container {
    display: flex;
    flex-wrap: wrap;
    border: 7px solid #fff;
    margin: 1.5rem auto;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    animation: slide-in-right 1.5s ease-in-out; }
    #conference-page .division-container .team {
      flex: 1 1 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.35rem; }
      #conference-page .division-container .team img {
        flex: 1;
        max-width: 150px;
        margin: 0 auto; }

#footer {
  background-color: #fff;
  color: #000;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  border-top: 7px solid #67df71; }
  #footer a {
    color: #000;
    font-weight: bold;
    transition: all 0.15; }
    #footer a:hover {
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); }
  #footer p:last-of-type {
    font-style: italic;
    font-size: 0.85rem;
    margin-top: 0.1rem; }

@media only screen and (min-width: 700px) {
  #navbar {
    font-size: 2.4rem; }
  #home-page {
    line-height: 1.75; }
    #home-page .page-container h1 {
      font-size: 4rem; }
    #home-page .page-container p {
      font-size: 1.8rem; }
    #home-page .page-container .home-logos a img {
      max-width: 200px; }
  #conference-page h2 {
    font-size: 3rem; }
  #conference-page .division-container .team {
    flex: 1; }
    #conference-page .division-container .team img {
      max-width: 225px; } }

@keyframes slide-in-left {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0); } }

@keyframes slide-in-right {
  from {
    transform: translateX(200%); }
  to {
    transform: translateX(0); } }
